!!!
%head
  %meta{:charset => "utf-8"}
  %meta{:author => "Victor Hugo Rios"}
  %title Pulso
  =stylesheet_link_tag    "application"
  =javascript_include_tag "application"
  =csrf_meta_tags
%body
  #container
    = yield
